*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}

body {
	line-height: 1.6;
	letter-spacing: 1;
	font-weight: 400;
	color: #fff;
	font-family: $font-primary;
}

.container {
	width: 100%;
	height: calc(100vh - 8rem);

	padding: 2rem 4rem;

	background: #bdc3c7;
	background: -webkit-linear-gradient(to bottom left, #2c3e50, #bdc3c7);
	background: linear-gradient(to bottom left, #2c3e50, #bdc3c7);

	display: grid;
	gap: 8rem;
	grid-template-columns: 2fr 1fr;
}
