.transactions {
  list-style: none;
  height: 75vh;
  overflow-y: scroll;

  &__empty {
    padding: 1.2rem 1rem;
    @include flex(2.4rem);
    flex-direction: column;
    border: 1px dashed #fff;
  }

  //   Transaktionsstyling der Hauptseite
  .transaction {
    font-size: 1.4rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    background: #485563;
    background: -webkit-linear-gradient(45deg, #29323c, #485563);
    background: linear-gradient(45deg, #29323c, #485563);

    position: relative;
    padding: 0.6rem;
    margin-bottom: 0.4rem;

    animation: addTransaction 1s ease-in-out;

    &__note {
      font-size: 1.2rem;
      text-transform: capitalize;
      color: $color-primary-light;
    }

    &__border {
      content: "";
      width: 1rem;
      height: 100%;

      position: absolute;
      left: 0;
      top: 0;
      background-color: $color-income;
    }

    &__icon {
      border-radius: 50%;
      background-color: #fff;
      justify-self: center;
    }

    &__cat {
      display: flex;
      flex-direction: column;
      text-transform: capitalize;

      span {
        color: $color-income;
      }
    }

    &__date {
      display: flex;
    }

    &__btns {
      @include flex(0.4rem);
    }
  }
}
